
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display:flex;
}

/* Hide the links inside the navigation menu (except for logo/home) */
 
 .topnav #myLinks {
  display:flex;
  visibility: visible;

 }

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  
  display: none;   
  background: black;
  position: absolute;
  right: 0;
  top: 0;
}   

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
.logo
{
	background-color: #4CAF50;
	color: white;
	
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: #ddd;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}


@media screen and (min-width:996 px) and (max-width: 1200px) 
{

.topnav {  
 visibility: visible;
}
.topnav #myLinks {
   visibility: visible;
  
 }


  .topnav a.icon {
  visibility: hidden;
} 


}


@media screen and (max-width: 996px) 
{

.topnav #myLinks {
  display: block;
  visibility: hidden;
  
 }
.topnav a.icon {
  display: block;
  visibility: visible;

}   

.topnav a.active{
  
display:  block;
visibility:visible;  
  
}

/*.active a{
	display:block;
}*/
/*.logo {

display:block;	

}*/

}

@media screen and (max-width: 768px) 
{

.topnav a.active{
	
display:  none;

	
}
}









